html,
body {
  margin: 0;
  padding: 0;
}

/* top区域的样式 */
.layui-header {
  z-index: 999;
  position: relative;
}
.layui-icon-logout {
  color: white;
}
.text-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #009688;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}

/* 如下是左侧导航栏的样式 */
.layui-side-scroll .message {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #4e5465;
  justify-content: center;
  align-items: center;
}

.layui-nav-item a.mainTitle:hover {
  background-color: #009688 !important;
}

/* 如下是iframe区域的样式 */
.layui-body {
  background-color: rgb(240, 230, 230);
  overflow: hidden;
  padding: 15px 0px 15px 15px;
}
iframe {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* 如下是底部固定区域的样式 */
.layui-footer {
  text-align: center;
}
